---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '思購抑',
};
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <h1 class="text-4xl font-bold mb-4">思購抑</h1>
  </section>
</Layout>
